.App {
    text-align: center;
}

.App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 80px;
}

.App-header {
    background-color: #222;
    height: 150px;
    padding: 20px;
    color: white;
}

.App-title {
    font-size: 1.5em;
}

.App-intro {
    font-size: large;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.ant-layout {
    height: 100%;
}

.trigger {
    font-size: 18px;
    line-height: 64px;
    padding: 0 24px;
    cursor: pointer;
    transition: color .3s;
}

.ant-layout-sider {
    background: #ffffff;
}

.ant-tabs-card>.ant-tabs-bar .ant-tabs-tab {
    border: none !important;
    background: #ffffff !important;
    margin-right: 20px !important;
}

.ant-tabs-card>.ant-tabs-bar .ant-tabs-tab i {
    width: 0px !important;
    transition: width  0.4s !important;
}

.ant-tabs-card>.ant-tabs-bar .ant-tabs-tab:hover i {
    width: 16px !important;
    transition: width  0.4s !important;
}

.ant-tabs-card>.ant-tabs-bar .ant-tabs-tab-active {
    border-bottom: 1px solid #1890ff !important;
}

.ant-tabs-card>.ant-tabs-bar .ant-tabs-tab-active i {
    width: 16px !important;
}

.ant-menu-inline .ant-menu-item::after {
    right: 100% !important;
    left: 0.5px !important;
}

.ant-menu-horizontal>.ant-menu-item-selected {
    border-bottom: none !important;
    border-top: 2px solid #1890ff !important;
}

.ant-advanced-search-form {
    padding: 24px;
    background: #fafafa;
    border-radius: 6px;
}

.ant-tabs:not(.ant-tabs-vertical)>.ant-tabs-content {
    margin-top: 60px;
}